#resultIdentForm
{
    position:absolute;
    top:-1000px;
    left:-1000px;
    max-width:500px;
    max-height:500px;
    border:2px solid #4d4d4d;
    background:url(../theme/imagestheme/bkg_header.png) repeat-x 0px -15px #FFFFFF;
    z-index:1000;
}
#resulthandle
{
    height:25px;
    cursor:move;
}
#resultIdentFormHeader
{
    padding-left:30px;
    font-size:12pt;
    font-weight:bold;
}
#resultIdentFormLine
{
    margin-left:30px;
    margin-right:30px;
    margin-top:11px;
    border-bottom:1px solid;
}
#resultwrapper{
    overflow-x:hidden;
    overflow-y:auto;
    margin-top:15px;
    margin-left:30px;
    max-width:500px;
    max-height:435px;
}
#resultIdentFormTable
{
    margin-top:15px;
    padding-right:22px;
}
#resultIdentFormTable td
{
    font-size:12pt;
    font-weight:bold;
    text-align:right;
    padding-right:8px;
    padding-bottom:8px;
    vertical-align:top;
}
#resultIdentFormTable input
{
    width:225px;
}

#resultIdentFormTable textarea
{
    width:225px;
    height:90px;
}
#ResultIdentFormButtons
{
    margin-top:10px;
    text-align:right;
    padding-right:30px;
    padding-bottom:25px;
}
#ResultIdentFormButtons a
{
    
}
#ResultIdentFormButtons a:hover
{
    
}
#ResultIdentFormButtons img
{
    display: none;
    vertical-align:middle;
}

#resultButtonCancel{
    font-size:11pt;
}

#resultButtonOK{
    font-size:11pt;
}

