*
{
    font-family:arial;
    font-size:12pt;
}

body 
{
	background:#87817e url(../theme/imagestheme/main.png) no-repeat fixed top center;
	color:#333333; 
}

a
{
	text-decoration:none;
	color:#018193;
}

a:hover{
	text-decoration:underline;
}

.a_id_lexique {	
	color: #333333;	
}


.quiz_title_link
{
	color:#333333;
}

.lexique_link 
{
	text-decoration:underline;
	color:#333333;	
}

.css3button {
 /* Ne pas oublier pour IE9+ */
 /* http://www.colorzilla.com/gradient-editor/ */
 /* Cocher IE dans le haut et IE9 support */
 /* IE9+ SVG, needs conditional override of 'filter' to 'none' */
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOTlhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjdmOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #ffffff;
 padding: 10px 20px;
 background: -moz-linear-gradient(
  top,
  #1cb0c4 0%,
  #018293);
 background: -webkit-gradient(
  linear, left top, left bottom,
  from(#1cb0c4),
  to(#018293));
  
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 border: 1px solid #087482;
 -moz-box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 -webkit-box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 text-shadow:
  0px -1px 0px rgba(000,000,000,0.1),
  0px 1px 0px rgba(255,255,255,0);
}

.css3button:hover {
 /*Ne pas oublier*/
 cursor:pointer;
 
 /* Ne pas oublier pour IE9+ */
 /* http://www.colorzilla.com/gradient-editor/ */
 /* Cocher IE dans le haut et IE9 support */
 /* IE9+ SVG, needs conditional override of 'filter' to 'none' */
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOTlhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjdmOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #ffffff;
 padding: 10px 20px;
 background: -moz-linear-gradient(
  top,
  #018293 0%,
  #1cb0c4);
 background: -webkit-gradient(
  linear, left top, left bottom,
  from(#018293),
  to(#1cb0c4));
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 border: 1px solid #087482;
 -moz-box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 -webkit-box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 box-shadow:
  0px 1px 0px rgba(186,186,186,0.4),
  inset 0px 0px 2px rgba(189,189,189,1);
 text-shadow:
  0px -1px 0px rgba(000,000,000,0.1),
  0px 1px 0px rgba(255,255,255,0);
}

#indicehandle, 
#feedbackhandle,
#indicehandleright, 
#feedbackhandleright,
#menupageshandle,
#menupageshandleright {
	background-color: #6e6966;
}

.select_menupage {
	background-color: #ece5e6;
}
